.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    flex-wrap: wrap; /* Permite que as imagens se ajustem em telas menores */
}

.image-container img {
    max-width: 100%;
    max-height: 200px;
    margin: 10px;
}


/* Estilos para telas menores (celulares) */
@media (max-width: 768px) {
    .message {
        text-align: center; /* Centraliza o texto da mensagem */
    }

    .image-container {
        display: flex;
        flex-direction: column; /* Coloca as imagens em uma coluna */
        align-items: center; /* Centraliza as imagens na coluna */
        margin-top: 20px; /* Espaço acima das imagens */
    }
}
